<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="ru">
<head>
    {% block title %}<title>Rutledge Store House</title>{% endblock %}
    <!-- кодировка страницы -->
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <!-- контроль масштаба отображения страницы -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- описание страницы -->
    <meta name="description" content="Электронный склад оборудования компании YKR">
    <!-- автор, написавший страницу -->
    <meta name="author" content="Nasher">
    <!-- ссылка стилей css на внешний ресурс -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <!-- подключение скрипта с внешнего ресурса -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- добавление статического СSS-файла -->
    {% load static %}
    <!-- Функции JavaScript -->
    <script type="text/javascript" src="{% static 'func.js' %}"></script>
    <!-- стиль css из файла в папке со статическими файлами -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block head %}
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-end">
            <div class="grid gap-3 nav-item list-inline">
                <div class="p-2 g-col-6">
                    <span class="navbar-text">
                        Вы вошли как:
                        <span class="fw-bold fst-italic">{{user.get_username}}</span>
                    </span>
                </div>
            </div>
            <div class="p-2 g-col-6 ">
                <a class="btn btn-primary" href="/logout" role="button">Выход</a>
            </div>
        </nav>
    </div>
    {% endblock %}
</head>
<body style="background: #f8f9fa">
{% load crispy_forms_tags %}
{{form|crispy}}

<script>
    function FirstLoad() {
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
    }

    window.onload = FirstLoad;

    var table = ''
    var tr = ''

    function HotSearching() {
        console.log(tr)
        var i;
        var input_method = document.getElementById("hot_searching_method");
        var input_manufacture = document.getElementById("hot_searching_manufacture");
        var input_name = document.getElementById("hot_searching_name");
        var input_serial = document.getElementById("hot_searching_serial");
        var input_location = document.getElementById("hot_searching_location");
        var filter_method = input_method.value.toUpperCase();
        var filter_manufacture = input_manufacture.value.toUpperCase();
        var filter_name = input_name.value.toUpperCase();
        var filter_serial = input_serial.value.toUpperCase();
        var filter_location = input_location.value.toUpperCase();
        // var table = document.getElementById("myTable");
        // var tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            var td_method = tr[i].getElementsByTagName("td")[1];
            var td_manufacture = tr[i].getElementsByTagName("td")[2];
            var td_name = tr[i].getElementsByTagName("td")[4];
            var td_serial = tr[i].getElementsByTagName("td")[5];
            var td_location = tr[i].getElementsByTagName("td")[7];
            if (td_method || td_manufacture || td_name || td_serial) {
                var txtValue_method = td_method.textContent || td_method.innerText;
                var txtValue_manufacture = td_manufacture.textContent || td_manufacture.innerText;
                var txtValue_name = td_name.textContent || td_name.innerText;
                var txtValue_serial = td_serial.textContent || td_serial.innerText;
                var txtValue_location = td_location.textContent || td_serial.innerText;
                if (txtValue_method.toUpperCase().indexOf(filter_method) > -1 && txtValue_manufacture.toUpperCase().indexOf(filter_manufacture) > -1 && txtValue_name.toUpperCase().indexOf(filter_name) > -1 && txtValue_serial.toUpperCase().indexOf(filter_serial) > -1 && txtValue_location.toUpperCase().indexOf(filter_location) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function get_filter() {
        var checkboxesChecked = {};
        checkboxesChecked['method'] = []
        checkboxesChecked['location'] = []
        checkboxesChecked['status'] = []
        var checkboxes_method = document.getElementsByName('CheckMethod');
        var label_method = document.getElementsByName('label_method');
        for (var index = 0; index < checkboxes_method.length; index++) {
            if (label_method[index].htmlFor == 'CheckMethod') {
                if (checkboxes_method[index].checked) {
                    checkboxesChecked['method'].push(label_method[index].textContent);
                }
            }
        }
        var checkboxes_location = document.getElementsByName('CheckLocation');
        var label_location = document.getElementsByName('label_location');
        for (var index = 0; index < checkboxes_location.length; index++) {
            if (label_location[index].htmlFor == 'CheckLocation') {
                if (checkboxes_location[index].checked) {
                    checkboxesChecked['location'].push(label_location[index].textContent);
                }
            }
        }
        var checkboxes_status = document.getElementsByName('CheckStatus');
        var label_status = document.getElementsByName('label_status');
        for (var index = 0; index < checkboxes_status.length; index++) {
            if (label_status[index].htmlFor == 'CheckStatus') {
                if (checkboxes_status[index].checked) {
                    checkboxesChecked['status'].push(label_status[index].textContent);
                }
            }
        }
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        var new_tr =[]
        for (var i = 1; i < tr.length; i++) {
            var visible = false
            var td_method = tr[i].getElementsByTagName("td")[1];
            var td_location = tr[i].getElementsByTagName("td")[7];
            var td_status = tr[i].getElementsByTagName("td")[8];
            for (var method_index = 0; method_index < checkboxesChecked['method'].length; method_index++) {
                for (var location_index = 0; location_index < checkboxesChecked['location'].length; location_index++) {
                    for (var status_index = 0; status_index < checkboxesChecked['status'].length; status_index++) {
                        if (td_method.innerText == checkboxesChecked['method'][method_index] && td_location.innerText == checkboxesChecked['location'][location_index] && td_status.innerText == checkboxesChecked['status'][status_index]) {
                            visible = true;
                        }
                    }
                }
            }
            if (visible == true) {
                tr[i].style.display = "";
                new_tr.push(tr[i])
            } else {
                tr[i].style.display = "none";
            }
        }
        tr = new_tr
    }
</script>
{% csrf_token %}
<!-- Контейнер с полным внутренним заполнением текста, изображения и т.д. по ширине -->
<div class="container-fluid">
    <!-- строки внутри контейнера -->
    <div class="row">
        <!-- столбец внутри контейнера -->
        <div class="col-sm-1">
            <!-- боковая панель навигации -->
            {% block sidebar-nav %}
            <!-- фильтры в боковой панели-->
            {% block filter %}

            <a class="btn btn-primary" href="{% url 'home' %}" type="button" data-bs-target="#staticBackdrop"
               aria-controls="staticBackdrop" style="position: fixed !important; font-size: 14px;">
                На главную</a>

            {% endblock %}
            {% endblock %}
        </div>
        <div class="col-sm-11">
            {% block content %}
            <table class="table table-striped table-sm align-middle" id="myTable">
                <thead style="position: sticky; top: 0; text-align: center" class="align-top">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">
                        Метод
                        <br>
                        <input type="text" id="hot_searching_method" onkeyup="HotSearching()"
                               style="width: 60px; font-size: 14px;" placeholder="Метод..."
                               title="Введите название метода контроля">
                    </th>
                    <th scope="col">
                        Производитель
                        <br>
                        <input type="text" id="hot_searching_manufacture" onkeyup="HotSearching()"
                               style="width: 120px; font-size: 14px;" placeholder="Производитель..."
                               title="Введите название производителя">
                    </th>
                    <th scope="col">Тип</th>
                    <th scope="col">
                        Название
                        <br>
                        <input type="text" id="hot_searching_name" onkeyup="HotSearching()"
                               style="width: 250px; font-size: 14px;" placeholder="Название..."
                               title="Введите название оборудования">
                    </th>
                    <th scope="col" class="text-nowrap">
                        Серийный номер
                        <br>
                        <input type="text" id="hot_searching_serial" onkeyup="HotSearching()"
                               style="width: 130px; font-size: 14px;" placeholder="Серийный номер..."
                               title="Введите серийный номер оборудования">
                    </th>
                    <th scope="col" class="text-break">Количество</th>
                    <th scope="col" class="text-break">
                        Нахождение
                        <br>
                        <input type="text" id="hot_searching_location" onkeyup="HotSearching()"
                               style="width: 100px; font-size: 14px;" placeholder="Нахождение..."
                               title="Введите месторасположение оборудования">
                    </th>
                    <th scope="col">Статус</th>
                    <th scope="col">Примечание</th>
                    <th scope="col">id</th>
                </tr>
                </thead>
                <tbody class="table-group-divider" style="text-align: center">
                {% for unit in unit_list %}
                <tr>
                    <td style="width: 30px;">{{forloop.counter}}</td>
                    <td style="width: 50px;">{{unit.method}}</td>
                    <td style="width: 100px;">{{unit.manufacturer}}</td>
                    <td style="width: 100px;">{{unit.type}}</td>
                    <td style="width: 200px;"><a href="{% url 'unit_edit' unit.id %}">{{unit.equipment_name}}</a></td>
                    <td style="width: 130px;">{{unit.equipment_serial_number}}</td>
                    <td style="width: 50px;">{{unit.total}}</td>
                    <td style="width: 100px;">{{unit.location}}</td>
                    <td style="width: 100px;">{{unit.status}}</td>
                    <td style="width: 100px;">{{unit.notes}}</td>
                    <td style="width: 50px;">{{unit.id}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html></title>
</head>
<body>

</body>
</html>