<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Электронный склад оборудования компании YKR">
    <meta name="author" content="Nasher">
    <title>Rutledge Store House</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    {% load static %}
    <script type="text/javascript" src="{% static 'functions\functionsBase.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css\styles.css' %}">
</head>
<body>

{{ data|json_script:"my-data" }}
<script>
    var data_equipment_send = []
    // ждём полной загрузки страницы
    window.addEventListener('load', function () {
        // получаем данные в виде строки
        let result = JSON.parse(document.getElementById('my-data').textContent);
        result = eval('(' + result + ')');
        // берём список выбранного оборудования из localStorage
        let equipment_send = localStorage.getItem("data");
        // localStorage.clear();
        equipment_send = equipment_send.split(',')
        for (let id in equipment_send) {
            for (var i = 0; i < Object.keys(result).length; i++) {
                if (equipment_send[id] == result[i]['id']) {
                    data_equipment_send.push(result[i])
                    break
                }
            }
        }
        // console.log(data_equipment_send)
        // console.log(data_equipment_send[0])
        // console.log(data_equipment_send[0]['name'])
        // добавляем название столбцов в таблицу с выбранным оборудованием для отправки
        var tbody = document.getElementById('TableItemSend').getElementsByTagName("tbody")[0];
        var row = document.createElement("tr")
        var td0 = document.createElement("td")
        td0.appendChild(document.createTextNode('N'))
        var td1 = document.createElement("td")
        td1.appendChild(document.createTextNode('Тип'))
        var td2 = document.createElement("td")
        td2.appendChild(document.createTextNode('Производитель'))
        var td3 = document.createElement("td")
        td3.appendChild(document.createTextNode('Описание'))
        var td4 = document.createElement("td")
        td4.appendChild(document.createTextNode('Серийный номер'))
        var td5 = document.createElement("td")
        td5.appendChild(document.createTextNode('Количество'))
        row.appendChild(td0);
        row.appendChild(td1);
        row.appendChild(td2);
        row.appendChild(td3);
        row.appendChild(td4);
        row.appendChild(td5);
        tbody.appendChild(row);
        // перебираем информацию о выбранном оборудовании для отправки и добавляем её построчно
        for (var i = 0; i < Object.keys(data_equipment_send).length; i++) {
            // console.log(i)
            // console.log(data_equipment_send[i])
            var tbody = document.getElementById('TableItemSend').getElementsByTagName("tbody")[0];
            var row = document.createElement("tr")
            var td0 = document.createElement("td")
            td0.appendChild(document.createTextNode(i + 1))
            var td1 = document.createElement("td")
            td1.appendChild(document.createTextNode(data_equipment_send[i]['type']))
            var td2 = document.createElement("td")
            td2.appendChild(document.createTextNode(data_equipment_send[i]['manufacturer']))
            var td3 = document.createElement("td")
            td3.appendChild(document.createTextNode(data_equipment_send[i]['name']))
            var td4 = document.createElement("td")
            td4.appendChild(document.createTextNode(data_equipment_send[i]['serial']))
            var td5 = document.createElement("td")
            td5.appendChild(document.createTextNode(data_equipment_send[i]['total']))
            row.appendChild(td0);
            row.appendChild(td1);
            row.appendChild(td2);
            row.appendChild(td3);
            row.appendChild(td4);
            row.appendChild(td5);
            tbody.appendChild(row);
        }
    })
</script>

<div class="tab-pane fade show active" id="item-send" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <table class="table table-striped table-sm align-middle" id="TableItemSend">
        <tbody class="table-group-divider" style="text-align: center">
        </tbody>
    </table>
</div>

</body>
</html>