<!doctype html>
<html lang="ru" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Электронный склад оборудования компании YKR">
    <meta name="author" content="Nasher">
    <title>Rutledge Store House</title>

    <!-- Подключение Bootstrap CSS и JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Подключение кастомных стилей и скриптов -->
    {% load static %}
    <script type="text/javascript" src="{% static 'functions/functionsBase.js' %}"></script>

    <style>
        body {
            background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
            font-family: Arial, sans-serif;
        }

        #button-send {
            background-color: #e6f0fc;
            color: white;
        }

        .bi-truck {
            font-size: 1em;
            color: #6f9dee;
            background-color: #e6f0fc;
        }

        #button-filter {
            transform: rotate(-90deg);
            margin-left: -27px;
            position: fixed;
            padding-bottom: 0;
            top: 325px;
            font-size: 12px;
        }

        .btn-f-check {
            text-align: left;
        }

        .btn-f-check:hover {
            background-color: lightblue;
        }

        .navbar {
            background-color: #4099c5;
            color: white;
            position: sticky;
            top: 0;
            padding-right: 20px;
            z-index: 1000;
        }

        .nav-tabs {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            /*margin-bottom: 1rem;*/
            position: sticky;
            top: 40px;
            /*background-color: #4099c5;*/
            /*color: white;*/
        }

        .nav-item {
            margin-left: 15px;
            background: #e6f0fc;
            border-radius: 5px 5px 0 0;
        }

        .nav-link {
            color: #4099c5;
            font-weight: bold;
        }

        .nav-link.active {
            background-color: #4099c5;
            color: white;
        }

        .table {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .table th, .table td {
            vertical-align: middle;
        }

        .table-group-divider {
            height: 300px;
            overflow-x: auto;
            margin-top: 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #eee;
        }


        .btn-primary {
            background-color: #4099c5;
            border: none;
            transition: background-color 0.3s ease;
        }

        .btn-primary:hover {
            background-color: #357a9e;
        }

        .offcanvas {
            background-color: #f8f9fa;
        }

        /*.offcanvas-header {*/
        /*    border-bottom: 1px solid #ddd;*/
        /*}*/

        .offcanvas-body {
            padding: 1rem;
        }

        .form-check-input:checked {
            background-color: #4099c5;
            border-color: #4099c5;
        }

        .form-check-label {
            margin-left: 0.5rem;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            /*background-color: #4099c5;*/
            color: white;
            padding: 0.5rem 0;
        }

        .hide-column {
            display: none;
        }

        #myBtn {
            background-color: lightblue;
            color: white;
            padding: 0 20px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            height: 35px;
            border-color: #46b8da;
            position: fixed;
            bottom: -4px;
            right: 70px;
            cursor: pointer;
        }
    </style>
</head>
<body>
{% csrf_token %}

<!-- Навигационная панель -->
<ul class="navbar navbar-expand-lg justify-content-end">
    <i>Вы вошли как: <b>{{user.get_username}}</b></i>
    <a href="/logout" style="color: white; margin-left: 20px; text-decoration: none"><i>Выход</i></a>
</ul>

<!-- Вкладки -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
                role="tab" aria-controls="home-tab-pane" aria-selected="true">Главная
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="send-tab" data-bs-toggle="tab" data-bs-target="#send-tab-pane" type="button"
                role="tab" aria-controls="send-tab-pane" aria-selected="false">Отправить
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="add-tab" data-bs-toggle="tab" data-bs-target="#add-tab-pane" type="button"
                role="tab" aria-controls="add-tab-pane" aria-selected="false">Добавить
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="edit-tab" data-bs-toggle="tab" data-bs-target="#edit-tab-pane" type="button"
                role="tab" aria-controls="edit-tab-pane" aria-selected="false">Редактировать
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="delete-tab" data-bs-toggle="tab" data-bs-target="#delete-tab-pane" type="button"
                role="tab" aria-controls="delete-tab-pane" aria-selected="false">Удалить
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link flex-sm-fill btn-primary" id="button-send" disabled="disabled" onclick="do_form_send()">
            <i class="bi bi-truck"></i>
        </button>
    </li>
</ul>

<!-- Кнопка фильтров -->
<button type="button" class="btn btn-sm btn-primary" id="button-filter" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
    Фильтры
</button>

<!-- Offcanvas для фильтров -->
<div class="offcanvas offcanvas-start" data-bs-backdrop="true" tabindex="-1" id="offcanvasWithBothOptions"
     data-bs-scroll="true" aria-labelledby="offcanvasWithBothOptionsLabel">
    <button type="button" class="btn-close position-absolute top-0 end-0" data-bs-dismiss="offcanvas"
            aria-label="Закрыть"></button>
    <div class="offcanvas-body">
        <div class="container">
            <input class="btn btn-primary btn-sm pull-left" type="reset" value="Выделить всё"
                   onclick="check()" id="all">
            <input class="btn btn-primary btn-sm" type="reset" value="Снять выделение"
                   onclick="uncheck()" id="empty">
        </div>
        <div class="container">
            <br>
            <div class="row gy-5">
                <div class="col-4">
                    <button type="button" class="btn active btn-f-check" aria-pressed="true"
                            data-bs-toggle="button" onclick="check_method()" id="button_method">Метод контроля
                    </button>
                    {% for method_ndt in context_filter_method %}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="form-check-input" id="CheckMethod" checked
                               name="CheckMethod">
                        <label class="form-check-label" for="CheckMethod"
                               name="label_method">{{ method_ndt }}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-8">
                    <div class="row">
                        <button type="button" class="btn active col-6 text-break btn-f-check" style="text-align:left"
                                aria-pressed="true" data-bs-toggle="button" onclick="check_location()"
                                id="button_location">Месторасположение:
                        </button>
                        {% for location in context_filter_location %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="form-check-input" id="CheckLocation" checked
                                   name="CheckLocation">
                            <label class="form-check-label" for="CheckLocation"
                                   name="label_location">{{ location }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="row">
                        <button type="button" class="btn active col-4 btn-f-check" style="text-align:left"
                                aria-pressed="true" data-bs-toggle="button" onclick="check_status()"
                                id="button_status">Статус:
                        </button>
                        {% for status in context_filter_status %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="form-check-input" id="CheckStatus" checked
                                   name="CheckStatus">
                            <label class="form-check-label" for="CheckStatus"
                                   name="label_status">{{ status }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" style="margin-top: 10px" type="submit" onclick="getFilter()">Применить</button>
    </div>
</div>

<!-- Контент вкладок -->
<div class="tab-content" id="myTabContent" style="width: 100%; padding-left: 1%; padding-right: 1%; top: 79px">
    <!-- Вкладка "Главная" -->
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <table class="table table-striped table-sm align-middle" id="myTableBase">
            <thead style="position: sticky; top: 79px; text-align: center" class="align-middle">
            <tr>
                <th scope="col">№</th>
                <th scope="col">
                    Метод
                    <br>
                    <input type="text" id="hot_searching_method_base" onkeyup="HotSearchingBase()"
                           style="width: 60px; font-size: 14px;" placeholder="Метод..."
                           title="Введите название метода контроля">
                </th>
                <th scope="col">
                    Производитель
                    <br>
                    <input type="text" id="hot_searching_manufacture_base" onkeyup="HotSearchingBase()"
                           style="width: 120px; font-size: 14px;" placeholder="Производитель..."
                           title="Введите название производителя">
                </th>
                <th scope="col">
                    Тип
                    <br>
                    <input type="text" id="hot_searching_type_base" onkeyup="HotSearchingBase()"
                           style="width: 120px; font-size: 14px;" placeholder="Тип..."
                           title="Введите тип оборудования">
                </th>
                <th scope="col">
                    Название
                    <br>
                    <input type="text" id="hot_searching_name_base" onkeyup="HotSearchingBase()"
                           style="width: 250px; font-size: 14px;" placeholder="Название..."
                           title="Введите название оборудования">
                </th>
                <th scope="col" class="text-nowrap">
                    Серийный номер
                    <br>
                    <input type="text" id="hot_searching_serial_base" onkeyup="HotSearchingBase()"
                           style="width: 130px; font-size: 14px;" placeholder="Серийный номер..."
                           title="Введите серийный номер оборудования">
                </th>
                <th scope="col" class="text-break">Количество</th>
                <th scope="col" class="text-break">
                    Нахождение
                    <br>
                    <input type="text" id="hot_searching_location_base" onkeyup="HotSearchingBase()"
                           style="width: 100px; font-size: 14px;" placeholder="Нахождение..."
                           title="Введите месторасположение оборудования">
                </th>
                <th scope="col">Статус</th>
                <th scope="col">Примечание</th>
            </tr>
            </thead>
            <tbody class="table-group-divider" style="text-align: center">
            {% for unit in unit_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ unit.method }}</td>
                <td>{{ unit.manufacturer }}</td>
                <td>{{ unit.type }}</td>
                <td>{{ unit.equipment_name }}</td>
                <td>{{ unit.equipment_serial_number }}</td>
                <td>{{ unit.total }}</td>
                <td>{{ unit.location }}</td>
                <td>{{ unit.status }}</td>
                <td>{{ unit.notes }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Вкладка "Отправить" -->
    <div class="tab-pane fade" id="send-tab-pane" role="tabpanel" aria-labelledby="send-tab" tabindex="0">
        <table class="table table-striped table-sm align-middle" id="myTableSend">
            <thead style="position: sticky; top: 79px; text-align: center" class="align-middle">
            <tr>
                <th scope="col">№</th>
                <th scope="col">
                    Метод
                    <br>
                    <input type="text" id="hot_searching_method_send" onkeyup="HotSearchingSend()"
                           style="width: 60px; font-size: 14px;" placeholder="Метод..."
                           title="Введите название метода контроля">
                </th>
                <th scope="col">
                    Производитель
                    <br>
                    <input type="text" id="hot_searching_manufacture_send" onkeyup="HotSearchingSend()"
                           style="width: 120px; font-size: 14px;" placeholder="Производитель..."
                           title="Введите название производителя">
                </th>
                <th scope="col">
                    Тип
                    <br>
                    <input type="text" id="hot_searching_type_send" onkeyup="HotSearchingSend()"
                           style="width: 120px; font-size: 14px;" placeholder="Тип..."
                           title="Введите тип оборудования">
                </th>
                <th scope="col">
                    Название
                    <br>
                    <input type="text" id="hot_searching_name_send" onkeyup="HotSearchingSend()"
                           style="width: 250px; font-size: 14px;" placeholder="Название..."
                           title="Введите название оборудования">
                    <input type="checkbox" class="form-check-input" id="CheckSendAll" name="CheckSendAll"
                           style="float: right" onclick="check_send_all()">
                </th>
                <th scope="col" class="text-nowrap">
                    Серийный номер
                    <br>
                    <input type="text" id="hot_searching_serial_send" onkeyup="HotSearchingSend()"
                           style="width: 130px; font-size: 14px;" placeholder="Серийный номер..."
                           title="Введите серийный номер оборудования">
                </th>
                <th scope="col" class="text-break">Количество</th>
                <th scope="col" class="text-break">
                    Нахождение
                    <br>
                    <input type="text" id="hot_searching_location_send" onkeyup="HotSearchingSend()"
                           style="width: 100px; font-size: 14px;" placeholder="Нахождение..."
                           title="Введите месторасположение оборудования">
                </th>
                <th scope="col">Статус</th>
                <th scope="col">Примечание</th>
            </tr>
            </thead>
            <tbody class="table-group-divider" style="text-align: center">
            {% for unit in unit_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ unit.method }}</td>
                <td>{{ unit.manufacturer }}</td>
                <td>{{ unit.type }}</td>
                <td>
                    {{ unit.equipment_name }}
                    <input type="checkbox" class="form-check-input" id="CheckSend" name="CheckSend"
                           style="float: right" onclick="check_send_all_active()">
                </td>
                <td>{{ unit.equipment_serial_number }}</td>
                <td>{{ unit.total }}</td>
                <td>{{ unit.location }}</td>
                <td>{{ unit.status }}</td>
                <td>{{ unit.notes }}</td>
                <td class="hide-column">{{ unit.id }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Вкладка "Добавить" -->
    <div class="tab-pane fade" id="add-tab-pane" role="tabpanel" aria-labelledby="add-tab" tabindex="0">
        {% load crispy_forms_tags %}
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <form method="POST" action="/create/" style="margin-top: 10px">
                        {{ form_add|crispy }}
                        {% csrf_token %}
                        <div class="col-md-2 justify-content-md-center">
                            <input class="btn btn-primary w-100 py-2" style="margin-bottom: 20px; width: 10px"
                                   type="submit" value="Добавить">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Вкладка "Редактировать" -->
    <div class="tab-pane fade" id="edit-tab-pane" role="tabpanel" aria-labelledby="edit-tab" tabindex="0">
        <table class="table table-striped table-sm align-middle" id="myTableEdit">
            <thead style="position: sticky; top: 79px; text-align: center" class="align-middle">
            <tr>
                <th scope="col">№</th>
                <th scope="col">
                    Метод
                    <br>
                    <input type="text" id="hot_searching_method_edit" onkeyup="HotSearchingEdit()"
                           style="width: 60px; font-size: 14px;" placeholder="Метод..."
                           title="Введите название метода контроля">
                </th>
                <th scope="col">
                    Производитель
                    <br>
                    <input type="text" id="hot_searching_manufacture_edit" onkeyup="HotSearchingEdit()"
                           style="width: 120px; font-size: 14px;" placeholder="Производитель..."
                           title="Введите название производителя">
                </th>
                <th scope="col">
                    Тип
                    <br>
                    <input type="text" id="hot_searching_type_edit" onkeyup="HotSearchingEdit()"
                           style="width: 120px; font-size: 14px;" placeholder="Тип..."
                           title="Введите тип оборудования">
                </th>
                <th scope="col">
                    Название
                    <br>
                    <input type="text" id="hot_searching_name_edit" onkeyup="HotSearchingEdit()"
                           style="width: 250px; font-size: 14px;" placeholder="Название..."
                           title="Введите название оборудования">
                </th>
                <th scope="col" class="text-nowrap">
                    Серийный номер
                    <br>
                    <input type="text" id="hot_searching_serial_edit" onkeyup="HotSearchingEdit()"
                           style="width: 130px; font-size: 14px;" placeholder="Серийный номер..."
                           title="Введите серийный номер оборудования">
                </th>
                <th scope="col" class="text-break">Количество</th>
                <th scope="col" class="text-break">
                    Нахождение
                    <br>
                    <input type="text" id="hot_searching_location_edit" onkeyup="HotSearchingEdit()"
                           style="width: 100px; font-size: 14px;" placeholder="Нахождение..."
                           title="Введите месторасположение оборудования">
                </th>
                <th scope="col">Статус</th>
                <th scope="col">Примечание</th>
            </tr>
            </thead>
            <tbody class="table-group-divider" style="text-align: center">
            {% for unit in unit_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ unit.method }}</td>
                <td>{{ unit.manufacturer }}</td>
                <td>{{ unit.type }}</td>
                <td>
                    {{ unit.equipment_name }}
                    <a href="{% url 'unit_edit' unit.id %}" style="float: right; text-decoration: none; color: #0056b3">Редактировать</a>
                </td>
                <td>{{ unit.equipment_serial_number }}</td>
                <td>{{ unit.total }}</td>
                <td>{{ unit.location }}</td>
                <td>{{ unit.status }}</td>
                <td>{{ unit.notes }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Вкладка "Удалить" -->
    <div class="tab-pane fade" id="delete-tab-pane" role="tabpanel" aria-labelledby="delete-tab" tabindex="0">
        <table class="table table-striped table-sm align-middle" id="myTableDelete">
            <thead style="position: sticky; top: 79px; text-align: center" class="align-middle">
            <tr>
                <th scope="col">№</th>
                <th scope="col">
                    Метод
                    <br>
                    <input type="text" id="hot_searching_method_delete" onkeyup="HotSearchingDelete()"
                           style="width: 60px; font-size: 14px;" placeholder="Метод..."
                           title="Введите название метода контроля">
                </th>
                <th scope="col">
                    Производитель
                    <br>
                    <input type="text" id="hot_searching_manufacture_delete" onkeyup="HotSearchingDelete()"
                           style="width: 120px; font-size: 14px;" placeholder="Производитель..."
                           title="Введите название производителя">
                </th>
                <th scope="col">
                    Тип
                    <br>
                    <input type="text" id="hot_searching_type_delete" onkeyup="HotSearchingDelete()"
                           style="width: 120px; font-size: 14px;" placeholder="Тип..."
                           title="Введите тип оборудования">
                </th>
                <th scope="col">
                    Название
                    <br>
                    <input type="text" id="hot_searching_name_delete" onkeyup="HotSearchingDelete()"
                           style="width: 250px; font-size: 14px;" placeholder="Название..."
                           title="Введите название оборудования">
                </th>
                <th scope="col" class="text-nowrap">
                    Серийный номер
                    <br>
                    <input type="text" id="hot_searching_serial_delete" onkeyup="HotSearchingDelete()"
                           style="width: 130px; font-size: 14px;" placeholder="Серийный номер..."
                           title="Введите серийный номер оборудования">
                </th>
                <th scope="col" class="text-break">Количество</th>
                <th scope="col" class="text-break">
                    Нахождение
                    <br>
                    <input type="text" id="hot_searching_location_delete" onkeyup="HotSearchingDelete()"
                           style="width: 100px; font-size: 14px;" placeholder="Нахождение..."
                           title="Введите месторасположение оборудования">
                </th>
                <th scope="col">Статус</th>
                <th scope="col">Примечание</th>
            </tr>
            </thead>
            <tbody class="table-group-divider" style="text-align: center">
            {% for unit in unit_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ unit.method }}</td>
                <td>{{ unit.manufacturer }}</td>
                <td>{{ unit.type }}</td>
                <td>
                    {{ unit.equipment_name }}
                    <a href="{% url 'unit_delete' unit.id %}"
                       style="float: right; text-decoration: none; color: tomato">Удалить</a>
                </td>
                <td>{{ unit.equipment_serial_number }}</td>
                <td>{{ unit.total }}</td>
                <td>{{ unit.location }}</td>
                <td>{{ unit.status }}</td>
                <td>{{ unit.notes }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Футер -->
<footer class="footer">
    <div onclick="topFunction()" id="myBtn" title="Go to top">Top</div>
</footer>
</body>
</html>